body{
    background-color: rgba(0, 0, 0, 0.915);
}
div{
    background-color: rgb(30, 30, 30);
    height: 70vh;
    width: 50vh;
    margin: auto;
    border-radius: 5%;
    position:fixed;
    inset:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

img{
    border-radius: 55%;
    margin-top: 3vh;
}

button{
    background-color: rgb(57, 57, 57);
    height: 5vh;
    width: 40vh;
    margin: auto;
    border-radius: 1cap;
   

   
   
    
}
b{
    color: white;
}
h2{
    color: white;
    font-size: xx-large;
    margin-bottom: 0%;
}
h4{
    color: greenyellow;
    font-size: medium;
    margin-top: 0%;
    margin-bottom: 0%;
    
    
}
h5{
    color: darkgray;
}