body{
    background-color: black;
}
div{
    background-color: rgba(202, 191, 191, 0.242);
    height: 70vh;
    width: 40vh;
    margin: auto;
    border-radius: 5%;
    position:fixed;
    inset:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

img{
    border-radius: 55%;
    margin-top: 3vh;
}

button{
    background-color: grey;
    height: 5vh;
    width: 30vh;
    margin: auto;
    border-radius: 1cap;
   
   
    
}
b{
    color: white;
}
h2{
    color: white;
    font-size: xx-large;
}
h4{
    color: greenyellow;
    font-size: medium;
    
    
}
h5{
    color: darkgray;
}